.banner{

    min-height: 200px;

    margin-bottom: 30px;
    background: rgba(238, 238, 238, 0.3);
}
.banner .jumbotron{
    margin: auto;
    max-width: 700px;
    min-height: 200px;
    text-align: center;
    background: none;

}
.center-block{

}

.novaquadrinho{
    background-color: #d43f3a;
}